<div class="d-flex align-items-center">
  <h1>編集</h1>
  <div class="ml-auto posts__linkBox">
    <%= link_to '投稿一覧', root_path, class: 'btn btn-outline-dark' %>
  </div>
</div>  
<%= render 'editform' %>