
.navbar{
  background-color: orange;
  padding: 30px 30px;
}

.navbar-brand{
  font-size: 50px;
}

#logo{
  float: left;
  margin-right: 20px;
  margin-left: 100px;
  font-size: 2.0em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h1 {
  margin: 60px 0;
}

.container .alert{
  margin: 16px 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: gray;
  }
}

.btn{
   margin: 0 5px 0 0;
}



